<style lang="postcss">
  @reference 'tailwindcss';

  input {
    @apply w-full text-base border border-gray-300 rounded-lg px-2 py-1 disabled:opacity-50 disabled:cursor-not-allowed;
  }

  input:focus {
    @apply outline-blue-400 outline-2;
  }

  /* Chrome, Edge, Safari */
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
  }

  label {
    @apply block ml-1 text-xs font-medium;
  }

  .invalid-input {
    @apply outline-red-400 outline-2;
  }

  .control-button {
    @apply px-4 py-2 bg-gray-400 text-sm font-semibold text-white rounded-lg cursor-pointer transition
        shadow-black/20 shadow-sm w-full flex items-center justify-center
        hover:not-disabled:brightness-95 disabled:opacity-50 disabled:cursor-not-allowed;
  }

  .start-button {
    @apply px-4 py-2 bg-green-400 text-lg font-semibold text-white rounded-lg cursor-pointer transition
        shadow-black/20 shadow-sm
        hover:not-disabled:brightness-95 disabled:opacity-50 disabled:cursor-not-allowed;
  }

  .stop-button {
    @apply hover:brightness-95 bg-red-400;
  }
</style>

<main class="h-full overflow-hidden p-4 flex justify-center gap-2">
  <section class="flex flex-col w-64 gap-2 bg-[#fafafa] rounded-lg border border-gray-300 shadow-black/20 shadow-sm">
    <div class="grow overflow-y-auto flex flex-col gap-2 p-4">
      <div>
        <label for="fn-input">Function</label>
        <input
          id="fn-input"
          type="text"
          required
          [(ngModel)]="fn_string"
          [disabled]="simulationRunning()"
          [class.invalid-input]="!fn_valid()"
          placeholder="Enter function"
        />
      </div>

      <div>
        <label for="initial-temperature-input">Initial Temperature</label>
        <input
          id="initial-temperature-input"
          type="text"
          required
          [(ngModel)]="initialTemperature"
          [disabled]="simulationRunning()"
          placeholder="Enter initial temperature"
        />
      </div>

      <div>
        <label for="initial-x-input">Initial X</label>
        <input
          id="initial-x-input"
          type="number"
          required
          [(ngModel)]="initialX"
          [disabled]="simulationRunning()"
          placeholder="Enter initial X"
        />
      </div>

      <div>
        <label for="cooling-rate-input">Cooling Rate</label>
        <input
          id="cooling-rate-input"
          type="number"
          required
          [(ngModel)]="coolingRate"
          [disabled]="simulationRunning()"
          placeholder="Enter cooling rate"
        />
      </div>

      <div>
        <label for="step-size-input">Step Size</label>
        <input
          id="step-size-input"
          type="number"
          required
          [(ngModel)]="stepSize"
          [disabled]="simulationRunning()"
          placeholder="Enter step size"
        />
        <p class="text-xs px-1 mt-1 text-gray-400">Step size is always scaled by the square root of the current temperature ratio. (√(T/T₀))</p>
      </div>

      <div>
        <label>Chart Spacing</label>
        <div class="flex gap-1">
          <input
            id="spacing-x-input"
            type="number"
            required
            [(ngModel)]="spacingX"
            placeholder="Enter spacing in X direction"
          />
          <input
            id="spacing-y-input"
            type="number"
            required
            [(ngModel)]="spacingY"
            placeholder="Enter spacing in Y direction"
          />
        </div>
      </div>
      <div>
        <label>Chart Pan</label>
        <div class="flex gap-1">
          <input
            id="pan-x-input"
            type="number"
            required
            [(ngModel)]="panX"
            placeholder="Enter pan in X direction"
          />
          <input
            id="pan-y-input"
            type="number"
            required
            [(ngModel)]="panY"
            placeholder="Enter pan in Y direction"
          />
        </div>
      </div>
    </div>
    
    <div class="flex gap-1 px-4">
      <button 
        class="start-button grow"
        [disabled]="!fn_valid() || !canRun()"
        [class.stop-button]="simulationRunning()"
        (click)="toggleSimulation()"
      >
        @if(simulationRunning()) {
          STOP
        } @else {
          START
        }
      </button>
      <button
        class="control-button w-fit!" 
        [disabled]="simulationRunning() || !canRun() || !fn_valid()"
        (click)="resetSimulation()"
      >
        <lucide-icon [img]="Refresh" size="16"/>
      </button>
    </div>
    
    <div class="flex gap-2 items-center px-4 pb-4">
      <button 
        class="control-button" 
        [disabled]="iterations() <= 0 || simulationRunning() || !canRun() || !fn_valid()"
        (click)="prevPoint(10)"
      >
        <lucide-icon [img]="ChevronsLeft" size="16"/>
      </button>
      <button 
        class="control-button" 
        [disabled]="iterations() <= 0 || simulationRunning() || !canRun() || !fn_valid()"
        (click)="prevPoint()"
      >
        <lucide-icon [img]="ChevronLeft" size="16"/>
      </button>
      <button 
        class="control-button" 
        [disabled]="simulationRunning() || !canRun() || !fn_valid()"
        (click)="nextPoint()"
      >
        <lucide-icon [img]="ChevronRight" size="16"/>
      </button>
      <button 
        class="control-button" 
        [disabled]="simulationRunning() || !canRun() || !fn_valid()"
        (click)="nextPoint(10)"
      >
        <lucide-icon [img]="ChevronsRight" size="16"/>
      </button>
    </div>
  </section>
  <div class="grow relative overflow-hidden">
    <svg 
      class="w-full h-full border border-gray-300 rounded-lg shadow-black/20 shadow-sm"
      style="
        background-color: #fafafa;
        background-image: radial-gradient(rgb(200 200 200 / 0.8) 0.5px, transparent 0); 
        background-size: 8px 8px; background-position: center;
      "
      viewBox="-50 -50 100 100"
    >
      <g [attr.transform]="'scale(1,-1) translate(' + -panX() + ', ' + -panY() + ')'">
        <!-- Draw -->
        <line
          x1="-1000"
          y1="0"
          x2="1000"
          y2="0"
          stroke="lightgray"
          stroke-width="0.1"
        />
        <line
          x1="0"
          y1="-1000"
          x2="0"
          y2="1000"
          stroke="lightgray"
          stroke-width="0.1"
        />
        <polyline 
          [attr.points]="generatePolylinePoints(-10, 10, 0.01)"
          stroke="lightgreen"
          stroke-width="0.4"
          fill="none"
        />

        <circle 
          [attr.cx]="svgBestPoint().x" 
          [attr.cy]="svgBestPoint().y" 
          r="0.8" 
          fill="yellow" 
          stroke="orange"
          stroke-width="0.2"
        />

        <circle 
          [attr.cx]="svgPoint().x" 
          [attr.cy]="svgPoint().y" 
          r="0.75" 
          fill="red" 
        />
      </g>
    </svg>

    <div class="absolute top-2 left-3 text-sm flex flex-col gap-0.5">
      <p>
        Current Point: ({{ currentX() | number: '1.2-4' }}, {{ simulatedAnnealingService.fn(currentX()) | number: '1.2-4' }})
      </p>
      <p>
        Temperature: {{ simulatedAnnealingService.T | number: '1.2-2' }}
      </p>
      <p>
        Iterations: {{ iterations() }}
      </p>
    </div>
    <div class="absolute bottom-2 right-3 text-sm flex flex-col gap-0.5 items-end">
      <p class="font-semibold">
        Best Point: ({{ bestX() | number: '1.2-4' }}, {{ bestY() | number: '1.2-4' }})
      </p>

    </div>
    
  </div>
  
</main>
<router-outlet />
