<style lang="postcss">
  @reference 'tailwindcss';

  .control-button {
    @apply px-4 py-2 bg-gray-400 text-sm font-semibold text-white rounded-lg cursor-pointer transition
        self-center shadow-black/20 shadow-sm
        hover:not-disabled:bg-gray-500 disabled:opacity-50 disabled:cursor-not-allowed;
  }

  .start-button {
    @apply px-4 py-2 bg-green-400 text-lg font-semibold text-white rounded-lg cursor-pointer transition
        self-center min-w-48 min-h-16 shadow-black/20 shadow-sm
        hover:bg-green-500;
  }

  .stop-button {
    @apply hover:bg-red-500 bg-red-400;
  }
</style>

<main class="h-full overflow-hidden p-4 flex flex-col justify-center gap-2">
  <section class="flex gap-2 px-1">
    <p>X: {{ currentX() | number: '1.2-2' }}</p>
    <p>Y: {{ simulatedAnnealingService.fn(currentX()) | number: '1.2-2' }}</p>
    <p>Temperature: {{ simulatedAnnealingService.T | number: '1.2-2' }}</p>
    <p>Cooling: {{ simulatedAnnealingService.cooling | number: '1.4-4' }}</p>
    <p>Step: {{ simulatedAnnealingService.step | number: '1.2-2' }}</p>
    <p>Iterations: {{ iterations() }}</p>
    <div class="grow"></div>
    <p class="font-semibold">Best X: {{ bestX() | number: '1.2-2' }}</p>
    <p class="font-semibold">Best Y: {{ bestY() | number: '1.2-2' }}</p>
  </section>
  <svg 
    class="w-full h-96 border border-gray-300 rounded-lg shadow-black/20 shadow-sm"
    style="
      background-color: #fafafa;
      background-image: radial-gradient(rgb(200 200 200 / 0.8) 0.5px, transparent 0); 
      background-size: 8px 8px; background-position: center;
    "
    viewBox="-50 -50 100 100"
  >
    <g transform="scale(1,-1)">
      <!-- Draw -->
      <line
        x1="-1000"
        y1="0"
        x2="1000"
        y2="0"
        stroke="lightgray"
        stroke-width="0.1"
      />
      <line
        x1="0"
        y1="-1000"
        x2="0"
        y2="1000"
        stroke="lightgray"
        stroke-width="0.1"
      />
      <polyline 
        [attr.points]="generatePolylinePoints(-100, 100, 0.01)"
        stroke="lightgreen"
        stroke-width="0.4"
        fill="none"
      />

      <circle 
        [attr.cx]="svgPoint().x" 
        [attr.cy]="svgPoint().y" 
        r="1" 
        fill="red" 
      />
    </g>
  </svg>
  <div class="flex gap-2 items-center justify-center mt-2">
    <button 
      class="control-button text-sm" 
      [disabled]="iterations() <= 0 || simulationRunning()"
      (click)="prevPoint()"
    >
      Undo Step
    </button>
    <button 
      class="start-button"
      [class.stop-button]="simulationRunning()"
      (click)="toggleSimulation()"
    >
      @if(simulationRunning()) {
        Stop Simulation
      } @else {
        Start Simulation
      }
    </button>
    <button 
      class="control-button" 
      [disabled]="simulationRunning()"
      (click)="nextPoint()"
    >
      Next Step
    </button>
  </div>
  
</main>

<router-outlet />
